USE [master]
GO
/****** Object:  Database [DeviceManagerDB]    Script Date: 1/15/2026 10:43:58 PM ******/
CREATE DATABASE [DeviceManagerDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DeviceManagerDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DeviceManagerDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DeviceManagerDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DeviceManagerDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DeviceManagerDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DeviceManagerDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 1/15/2026 10:43:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Devices]    Script Date: 1/15/2026 10:43:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Devices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DeviceCode] [nvarchar](max) NOT NULL,
	[DeviceName] [nvarchar](max) NOT NULL,
	[Category] [nvarchar](max) NOT NULL,
	[PurchaseDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_Devices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/15/2026 10:43:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[Department] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260115132632_InitialCreate', N'10.0.2')
GO
SET IDENTITY_INSERT [dbo].[Devices] ON 

INSERT [dbo].[Devices] ([Id], [DeviceCode], [DeviceName], [Category], [PurchaseDate], [Status], [UserId]) VALUES (0, N'DEV001', N'Laptop Dell XPS 13', N'Máy tính xách tay', CAST(N'2024-01-15T00:00:00.0000000' AS DateTime2), N'Hoạt động', 1)
INSERT [dbo].[Devices] ([Id], [DeviceCode], [DeviceName], [Category], [PurchaseDate], [Status], [UserId]) VALUES (2, N'DEV003', N'Desktop PC Asus', N'Máy tính để bàn', CAST(N'2023-08-20T00:00:00.0000000' AS DateTime2), N'Hoạt động', 3)
INSERT [dbo].[Devices] ([Id], [DeviceCode], [DeviceName], [Category], [PurchaseDate], [Status], [UserId]) VALUES (3, N'DEV004', N'Màn hình LG 24 inch', N'Màn hình', CAST(N'2024-01-05T00:00:00.0000000' AS DateTime2), N'Hoạt động', 1)
SET IDENTITY_INSERT [dbo].[Devices] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [Email], [PhoneNumber], [Department]) VALUES (0, N'Nguyễn Văn A', N'nguyenvana@company.com', N'0123456789', N'Phòng IT')
INSERT [dbo].[Users] ([Id], [Name], [Email], [PhoneNumber], [Department]) VALUES (1, N'Trần Thị B', N'tranthib@company.com', N'0987654321', N'Phòng Nhân sự')
INSERT [dbo].[Users] ([Id], [Name], [Email], [PhoneNumber], [Department]) VALUES (2, N'Lê Văn C', N'levanc@company.com', N'0912345678', N'Phòng IT')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Devices_UserId]    Script Date: 1/15/2026 10:43:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_Devices_UserId] ON [dbo].[Devices]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Devices]  WITH CHECK ADD  CONSTRAINT [FK_Devices_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Devices] CHECK CONSTRAINT [FK_Devices_Users_UserId]
GO
USE [master]
GO
